@import url("https://use.typekit.net/auu0knl.css");


/* Titre */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Skolar Sans Latin Extended;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #d95407;
}

.carousselTitle {
  font-weight: bold;
  font-size: 40px;
}

.temoignageTitle {
  color: #307cbf; /* couleur titre témoignage */
}

.Orange {
  color: #d95407; /* couleur h2 */
}

h3 {
  font-size: 21px;
  text-align: left;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.colorWhite {
  color: #ffffff;
}

/* Text */

.carousselText {
  font-family: Skolar Sans Latin Condensed;
  font-size: 16px;
}

p, .liText {
  font-family: Objektiv Mk3;
  font-size: 12px;
}

.divTerm {
  font-size: 10px;
}

.center {
  text-align: center;
}

.temoignageText {
  color: #ffffff;
}

.textLi {
  list-style: square;
}

ul {
  padding-left: 15px;
}

.copyrighText {
  font-size: 10px;
  color: white;
}

/* section, article, div */

 section, img, p {
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  
}

/*
img {
  display: flex;
  justify-content: center;
}
*/

#map-container {
  height: 500px;
  width: 500px;
}

.temoignageBackground {
  background: #4bd4f2;
  position: absolute;
  left: 0px;
  top: 547px;
  width: 1280px;
  height: 223px;
}

.sectInterview {
  background-color: #4bd4f2;
  margin-top: 0;
}




/* display Flex */
.sectCol {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.divCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.divRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.artCard { /* mise en forme des card */
  display: flex;
  flex-direction: column;
  background-color: #f1f9ff;
  padding: 0;
}

.artPadding { /* marge intérieur card */
  padding: 0 10px 0 10px;
}

.noPadding {
  padding: 0;
}

.artTestimony {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.imgPortrait {
  width: auto;
  height: 70px;
}

.imgFlex {
  width: 70px;
  height: 70px;
  margin: 0 10px 0 0;
  justify-content: flex-start;
}

.flexDirection{
  display: flex;
  flex-wrap: wrap;
}

.divTop {
  margin-top: 150px;
}


#top {
  padding-top: 0.2em;
  padding-bottom: 0.1em;
}



/*  
barre de navigation
boutton de recherche 
*/

.chercher {
  position: absolute;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 0px;
  transition: all 0.3s ease;
  /*z-index: 100;*/
}

.chercher input {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.chercher span {
  position: absolute;
  right: 0px;
  padding: 8px;
  background: #d95407;
}

.chercher span img {
  background: #d95407;
  width: 30px;
}

#logo {
  left: auto;
  top: 0px;
  margin-left: 15px;
  width: 110px;
  height: 85px;
  position: absolute;
  background: #4bd4f2;
 /* -webkit-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
  -ms-transform: skew(-25deg);
  -o-transform: skew(-25deg);
  transform: skew(-25deg);*/
}

#navbar {
  color: white !important;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 3;
  font-weight: bold;
  font-size: 23px;
  background-color: #d95407 !important;
}

/*.fontMenu {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}*/

.btnColor {
  color: #071cd9;
}

/*.fond_nav {
  background: #d95407;
}*/



/* pour palier au souci de décalage sous la nav fixe */ 
#enConstruction {
  padding-top: 100px;
}




/* footer */

footer {
  background-color: #51878f;
}

.copyrightColor {
  background-color: #06303b;
  height: 100%;
}

.baseMention {
  background: #4bd4f2;
  position: absolute;
  left: 0px;
  top: 2280px;
  width: 1280px;
  height: 50px;
}

.mention {
  font-size: 10px;
  color: #ffffff;
}

.footerText {
  font-size: 9px;
  color: #ffffff;
}

.liText {
  color: #ffffff;
  font-size: 12px;
}

/* en attente
.Base {
background : #D9A362;
position : absolute ;
left : 0px;
top : 2040px;
width : 1280px;
height : 240px;
}*/