/*section {
  background-color: rgb(133, 161, 152);
  display: flex;
  margin-top: 60px;
  align-items: center;
} */

img {
  display: flex;
  align-items: center;
  margin: auto;
}

#map-container{
  height: 500px;
  width: 500px;
}

/*pour palier au souci de décalage sous la nav fixe */
#enConstruction { 
  padding-top: 70px;
}

/* css en complément du bootstrap de la maquette PDF */

@import url("https://use.typekit.net/auu0knl.css");


/* barre de navigation */


/*boutton de recherche*/

.chercher {
  position: absolute;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 0px;
  transition: all .3s ease;
  z-index: 100;
}

.chercher input {
  height: 100%;
  width: 100%;
  padding:10px;
  
}

.chercher span {
  position: absolute;
  right: 0px;
  padding: 22px;
  background: #D95407 ;
}

.chercher span img {
  background: #D95407 ;
  width: 18px
}


/*boutton de recherche*/



#logo {
  left: auto;
  top: 0px;
  width: 97px; 
  height: 77px; 
  position: absolute;
  background: #4BD4F2;
  -webkit-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
  -ms-transform: skew(-25deg);
  -o-transform: skew(-25deg);
  transform: skew(-25deg);

}



#navbar{
font-family: Skolar Sans Latin Extended;
color: white !important;
font-weight: bold;
font-size: 20px;
background-color: #D95407 !important;

}

/* Titre */

h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: Skolar Sans Latin Extended;
  font-weight: bold;
  font-size: 30px;
  color: #D95407;
 }

.carousselTitle {
font-family: Skolar Sans Latin Extended;
font-weight: bold;
font-size: 40px;
}

.temoignageTitle { /* couleur titre témoignage */
  color: #307CBF;
}

.Orange { /* couleur h2 */
  color: #D95407;
}

.h4 {
  font-family: Skolar Sans Latin Extended;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.colorWhite {
  color: #ffffff;;
}

/* Text */

.carousselText {
font-family: Skolar Sans Latin Condensed;
font-size: 16px;
}

p {
  font-family: Objektiv Mk3;
  font-size: 12px;
}

.temoignageText {
  color: #FFFFFF;
  }

/* Témoignage */
.temoignageBackground {
background: #4BD4F2;
position: absolute ;
left: 0px;
top: 547px;
width: 1280px;
height: 223px;
}

/* footer */

.baseMention {
  background: #4BD4F2;
  position: absolute ;
  left: 0px;
  top: 2280px;
  width: 1280px;
  height: 50px;
}


.mention {
  font-size: 10px;
  color: #FFFFFF;
}

.footerText {
  font-size: 9px;
  color: #FFFFFF;
}


/* section index.html */

.sectVirtual {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.artTestimony {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding:0 40px 0 40px;
}

.artVirtual {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:0 10px 0 10px;
}

.imgPortrait {
  width : 291px;
  height : auto;
  padding:0 20px 0 0;
}